<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
    <div class="container-fluid" >
      <img  src="https://www.zohowebstatic.com/sites/default/files/styles/product-home-page/public/notebook-logo.png?itok=ca_I-LRp" width="4%" height="4%"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0  " >
          <li class="nav-item">
            <a class="nav-link"   routerLink="/home" ><i class="fas fa-home"></i>   Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/register"><i class="far fa-registered"></i>   Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/login"><i class="fas fa-sign-in-alt"></i>   Login</a>
          </li>
         </ul>  
      </div>
    </div>
  </nav>
</div> 
