<div style="background-image: url('https://i.pinimg.com/originals/85/6f/31/856f31d9f475501c7552c97dbe727319.jpg'); background-size: cover;">
    <div class="row">
<div class="container"  style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 700; ">
    <div class="row mt-5">
        <div class="col-md-4 col-sm-2"></div>
    <div class="col-md-4 col-sm-8">
            <br><br><br>
            <div class="card shadow-lg p-3 mb-3 bg-white rounded" style="margin-top: 75px;">

                <img src="https://evernote.com/c/assets/homepage/rich_notes.svg?4be8ba71638c18bb" width="10%" height="10%">
                <h2>Update</h2>
                <h4>your password to access Notebook</h4>
                    <br>
                <form class="form row g-3 "     [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                    <div class="inputContainer">
                    <i class="fas fa-user fa-lg"></i> 
                    <input type="text" name="username" id="" class="form-control" placeholder="Enter your Username" formControlName="username">
                    <p style="color: red;" *ngIf="passwordForm.get('username').hasError('required')&& !passwordForm.get('username').untouched">Name is required**</p>

                    <i class="fas fa-lock fa-lg"></i>    
                    <input type="password" name="password1" id="" class="form-control" placeholder="Enter your New Password" formControlName="password1">
                    <p style="color: red;" *ngIf="passwordForm.get('password1').hasError('required')&& !passwordForm.get('password1').untouched">Password is required**</p>

                    <i class="fas fa-lock fa-lg"></i> 
                    <input type="password" name="password2" id="" class="form-control" placeholder="Confirm your New Password" formControlName="password2">
                    <p style="color: red;" *ngIf="passwordForm.get('password2').hasError('required')&& !passwordForm.get('password2').untouched">Password is required**</p>

                </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mt-3">Update Password</button>
                    </div>

                    <h4 class="text-center text-danger" *ngIf="status" >Passwords are not same....Try again!!!</h4>



                </form> 






       
    </div>
</div>
<div class="col-md-4 col-sm-2"></div>
</div>
</div>
</div>
<br><br><br><br><br><br>
</div>
