<app-navbar></app-navbar>
<div style="background-image: url('https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); background-size: cover;">
    <div class="row">
        
<div class="container-fluid"  style="font-family: cursive; font-weight: 700; ">
<div class="row mt-5">
    <div class="col-md-4 col-sm-2"></div>
    <div class="col-md-4 col-sm-8">


            <div class="card shadow-lg p-3 mb-2 bg-white rounded " style="margin-top: 70px;">
                
                <img src="https://evernote.com/c/assets/features/notes-app/create-checklists.svg?b1cfb3b2492793f6" width="10%" height="10%">
                <h2>Login</h2>
                <h4>to access Notebook</h4>
                <br>

                <form class="form row g-3 "     [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="inputContainer">
                        <i class="fas fa-user fa-lg"></i> 
                    <input type="text" name="username" id="" class="form-control" placeholder="Enter your Username" formControlName="username">
                    <p style="color: red;" *ngIf="loginForm.get('username').hasError('required')&& !loginForm.get('username').untouched">Name is required**</p>

                    <i class="fas fa-key fa-lg"></i>
                    <input type="password" name="password" id="" class="form-control" placeholder="Enter your Password" formControlName="password">
                    <p style="color: red;" *ngIf="loginForm.get('password').hasError('required')&& !loginForm.get('password').untouched">Password is required**</p>

                    </div>
                    <div class="col-6">
                        <button class="btn btn-success" type="submit" >Login</button>
                    </div>
                    <br>
                    <a routerLink="" (click)="moveToPasswordReset()">Forget password?</a>

                    <div class="text-center mt-5">
                        <h5>Don't have an account?</h5>
                        <button class="btn btn-primary"(click)="onChange()" >Register</button>
                    </div>


                </form>

                    
            </div>
</div>
<div class="col-md-4 col-sm-2"></div>
     

</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
</div>



