.dropdown img
{
    cursor: pointer;
    
}
.inputContainer i {
    position: relative;
    left: 0;
    top: 33px;
    padding: 6px 7px;
    margin-left: 5px;
 }
 .inputContainer {
    width: 100%;
    margin-bottom: 10px;
 }

 .input-field {
    width: 100%;

    position: absolute;
 }
 .inputContainer input[type=text]
 {
   padding-left: 35px;
 }