
 .inputContainer i {
    position: relative;
    left: 0;
    top: 33px;
    padding: 6px 7px;
    
 }
 .inputContainer {
    width: 100%;
    margin-bottom: 10px;
 }

 .input-field {
    width: 100%;
    padding: 10px;
    position: absolute;
 }
 .inputContainer input[type=text]
 {
   padding-left: 35px;
 }
 .inputContainer input[type=email]
 {
   padding-left: 35px;
 }
 .inputContainer input[type=password]
 {
   padding-left: 35px;
 }