

<!-- rgba(247, 180, 57, 0.973)
<h1 style="text-align: center;" class="mt-5">Welcome to Registration Page</h1>
<div class="container">
<div class="row mt-5">
    <div class="col-6" style="background-color:#fff1a1; height: max-content;" >
        <form class="mt-3 mb-4" #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">
    
            <label for="un" class="form-label">Username</label>
            <input type="text" class="form-control" id="un" name="username" placeholder="Enter Username" ngModel>
            <br>
            <label for="em" class="form-label">Email</label>
            <input type="email" class="form-control" id="em" name="email" placeholder="Enter Email-address" ngModel>
            <br>
            <label for="pw" class="form-label">Password</label>
            <input type="password" class="form-control" id="pw" name="password" placeholder="Enter Password" ngModel>
            <br>
            <button type="submit" class="btn btn-success" style="margin: auto;">Register</button>
        </form>
    </div>
    <div class="col-6" >
        <img src="../../assets/32.jpg" alt="" style=" height: 80%; " >
    </div>
</div>  

</div>
https://images.pexels.com/photos/733852/pexels-photo-733852.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260  https://images.pexels.com/photos/355770/pexels-photo-355770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
 -->

<app-navbar></app-navbar>
<div style="background-image: url('https://images.pexels.com/photos/3059/desk-laptop-notebook-pen.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); ">
    <div class="row">
       
<div class="container" style="font-family: cursive; font-weight: 700; ">
    <div class="row mt-5">
        <div class="col-md-4 col-sm-2"></div>
    <div class="col-md-4 col-sm-8">

            <div class="card shadow-lg p-3 mb-2 bg-white rounded" style="margin-top: 70px;">

                <img src="https://zohowebstatic.com/sites/default/files/ogimage/notebook-logo.png" width="10%" height="10%">
                <h2>Register</h2>
                <h4>to access Notebook</h4>
                <br>
              <form class="form row g-3 "     [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="inputContainer">
                            
                        <i class="fas fa-user fa-lg"></i>
                        <input type="text" name="username" id="" class="input-field" class="form-control" placeholder="Enter your Username" formControlName="username">
                        <p style="color: red;" *ngIf="registerForm.get('username').hasError('required')&& !registerForm.get('username').untouched">Name is required**</p>


                        <i class="fas fa-envelope fa-lg"></i>
                        <input type="email" name="email" id="" class="input-field" class="form-control" placeholder="Enter your Email ID" formControlName="email">
                        <p style="color: red;" *ngIf="registerForm.get('email').hasError('required')&& !registerForm.get('email').untouched">Email ID is required**</p>

                        <i class="fas fa-lock fa-lg"></i>
                        <input type="password" name="password" id="" class="input-field" class="form-control" placeholder="Enter your Password" formControlName="password">
                        <p style="color: red;" *ngIf="registerForm.get('password').hasError('required')&& !registerForm.get('password').untouched">Password is required**</p>
                        
                </div>

                  <div class="col-6">
                    <button class="btn btn-success" type="submit" >Register</button>
                </div>


                  <div class="text-center mt-5">
                    <h5>Having an account?</h5>
                    <button class="btn btn-primary"(click)="onChange()" >Login</button>
                </div>

            </form>

        
        </div>
    </div>
    <div class="col-md-4 col-sm-2"></div>
</div>
</div>
</div>
<br><br>
<br>
<br><br>
</div>
























      
  
    
  





